$color-primary: #bf1e61;
$color-dark-primary: #992153;
$color-dark-grey: #1E161A;
$color-neutral-grey: #241A1F;
$color-light-grey: #271d22;
$color-font-1: #ffffff;
$color-font-2: #CCCCCC;
$color-font-3: #919191;
$color-font-4: #808080;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    background-color: $color-neutral-grey;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
}

header {
    width: 100%;
    height: 72px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    user-select: none;
    transition: all 150ms;

    .logo {
        font-size: 28px;
        transition: all 200ms;

        a {
            text-decoration: none;
            color: $color-font-1;
        }

        &:hover {
            opacity: 0.8;
        }

    }

    nav {
        float: right;

        ul {
            list-style-type: none;

            li {
                float: left;
                padding: 12px 24px 0 0;

                transition: all 200ms;

                &:hover {
                    opacity: 0.8;
                }
            }

            div {
                    background-color: $color-primary;
                    padding: 12px 24px;
                    float: right;
                    transition: all 120ms;

                    &:hover {
                        background-color: $color-dark-primary;
                    }
                }
            
            a {
                text-decoration: none;
                color: $color-font-1;
                font-size: 14px;
                font-weight: $font-weight-semi-bold;
            }

            .active {
                color: $color-font-3;
            }
        }
    }
}

.sticky-header {
    background-color: $color-dark-grey;
}

#home {

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .logo {
            width: 364px;
    
            transition: all 300ms;
    
            &:hover {
                transform: scale(0.94);
            }
        }
    
        h1 {
            font-size: 60px;
            font-weight: $font-weight-bold;
            color: $color-font-1;
        }
    
        h2 {
            font-size: 36px;
            font-weight: $font-weight-light;
            color: $color-font-1;
    
            span {
                font-weight: $font-weight-bold;
            }
        }
    
        #typer {
            color: $color-font-1;
            font-weight: $font-weight-regular;
        }
    }

    .waves {
        position: relative;
    }
}

h3 {
    text-align: center;
    font-size: 48px;
    font-weight: $font-weight-bold;
    color: $color-font-1;
    padding-top: 100px;
}

h4 {
    text-align: center;
    font-size: 24px;
    font-weight: $font-weight-regular;
    color: $color-font-2;
    padding-bottom: 75px;
}

#team {
    background-color: $color-light-grey;

    .card-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 100px;

        .card {
            height: 400px;
            width: 350px;
            background-color: $color-neutral-grey;

            .content-container {
            
                height: 100%;
                width: 100%;
                padding: 28px;

                img {
                    border-radius: 100%;
                    width: 180px;
                    display: block;
                    margin: 0 auto 0 auto;

                    transition: all 200ms;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                h5 {
                    font-size: 28px;
                    font-weight: $font-weight-semi-bold;
                    text-transform: uppercase;
                    text-align: center;
                    color: $color-font-1;
                    padding-top: 14px;
                }

                h6 {
                    font-size: 16px;
                    font-weight: $font-weight-regular;
                    text-transform: uppercase;
                    text-align: center;
                    color: $color-font-3;
                }

                .socialmedia {
                    font-size: 28px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding-top: 36px;

                    i {
                        margin: 0 8px;
                        color: #bf1e61;
                        cursor: pointer;
                        user-select: none;
                        transition: all 200ms;

                        &:hover {
                            color: $color-dark-primary;
                        }
                    }
                }
            }
        }
    }
}

#games {

    .game-container {
        width: 100%;

        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 300px;
                transition: all 200ms;

                &:hover {
                    transform: scale(0.96);
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 12px;

            button {
                padding: 12px 24px;
                font-size: 14px;
                font-weight: $font-weight-semi-bold;
                border: none;
                background-color: $color-primary;
                color: $color-font-1;
                transition: all 120ms;

                &:hover {
                    background-color: $color-dark-primary;
                }
            }
        }
    }
}

#devlog {

    .feed {
        width: 100%;

        div {
            display: block;
            margin: 0 auto 28px auto;
        }

        &:last-child {
            padding-bottom: 28px;
        }
    }
}

footer {
    background-color: $color-dark-grey;
    padding: 24px 0;
    text-align: center;

    .social-container {
        font-size: 28px;
        padding: 0 4px;

        a {
            i {
                color: $color-primary;
            }
        }
    }
    
    p {
        font-size: 14px;
        color: $color-font-4;
    }
}


@media (max-width: 1280px) {

    #team {
        .card-container {
            .card {
                height: 400px;
                width: 300px;
            }
        }
    }

}

@media (max-width: 1140px) {

    #home {
        .home-container {

            .logo {
                width: 300px;
            }

            h1 {
                font-size: 48px;
            }

            h2 {
                font-size: 24px;
            }
        }
    }

    #team {
        .card-container {
            .card {
                height: 400px;
                width: 280px;
            }
        }
    }

}

@media (max-width: 1080px) {

    #team {
        padding-bottom: 28px;

        .card-container {
            display: block;
            padding: 0;

            .card {
                display: block;
                margin: 0 auto 28px auto;
                height: 400px;
                width: 350px;
            }
        }
    }

}

@media (max-width: 900px) {

    header {

        justify-content: center;

        nav {
            display: none;
        }
    }

    #home {
        
        .home-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 360px;
                display: none;
            }

            h1 {
                font-size: 48px;
                display: block;
                text-align: center;
            }

            h2 {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 18px;
    }

}

@media (max-width: 480px) {

    #home {
        .home-container {

            h1 {
                font-size: 36px;
            }
    
            h2 {
                font-size: 18px;
            }
        }
    }

    #team {
        .card-container {
            .card {
                height: 400px;
                width: 300px;
            }
        }
    }    

}